.vscode/settings.json
Data_Copy/DatabaseProjectNextraceReportPipe_DataCopy/Security/NEXTEER_biservice_1.sql
Data_Copy/DatabaseProjectNextraceReportPipe_DataCopy/Security/NEXTEER_biservice.sql
Data_Copy/DatabaseProjectNextraceReportPipe_DataCopy/Security/NEXTEER_FZSKS7_1.sql
Data_Copy/DatabaseProjectNextraceReportPipe_DataCopy/Security/NEXTEER_FZSKS7.sql
Data_Copy/DatabaseProjectNextraceReportPipe_DataCopy/Security/readonly_1.sql
Data_Copy/DatabaseProjectNextraceReportPipe_DataCopy/Security/readonly.sql
Data_Copy/DatabaseProjectNextraceReportPipe_DataCopy/Security/SqlRoleMembership.sql
Data_Process/DatabaseProjectNextraceReportPipe_DataProcessing/Security/NEXTEER_biservice_1.sql
Data_Process/DatabaseProjectNextraceReportPipe_DataProcessing/Security/NEXTEER_biservice.sql
Data_Process/DatabaseProjectNextraceReportPipe_DataProcessing/Security/NEXTEER_FZSKS7_1.sql
Data_Process/DatabaseProjectNextraceReportPipe_DataProcessing/Security/NEXTEER_FZSKS7.sql
Data_Process/DatabaseProjectNextraceReportPipe_DataProcessing/Security/readonly.sql
Data_Process/DatabaseProjectNextraceReportPipe_DataProcessing/Security/readwrite_1.sql
Data_Process/DatabaseProjectNextraceReportPipe_DataProcessing/Security/readwrite.sql
Data_Process/DatabaseProjectNextraceReportPipe_DataProcessing/Security/SqlRoleMembership.sql
Data_Process/DatabaseProjectNextraceReportPipe_DataProcessing/StoredProcedures/_sp_mathc_project.sql
Data_Process/DatabaseProjectNextraceReportPipe_DataProcessing/Views/_vw_project_association_control.sql
Data_Process/DatabaseProjectNextraceReportPipe_DataProcessing/Functions/_fn_ceps_genealogy.sql
