.vscode/settings.json
Data_Copy/DatabaseProjectNextraceReportPipe_DataCopy/Security/NEXTEER_biservice_1.sql
Data_Copy/DatabaseProjectNextraceReportPipe_DataCopy/Security/NEXTEER_biservice.sql
Data_Copy/DatabaseProjectNextraceReportPipe_DataCopy/Security/NEXTEER_FZSKS7_1.sql
Data_Copy/DatabaseProjectNextraceReportPipe_DataCopy/Security/NEXTEER_FZSKS7.sql
Data_Copy/DatabaseProjectNextraceReportPipe_DataCopy/Security/readonly_1.sql
Data_Copy/DatabaseProjectNextraceReportPipe_DataCopy/Security/readonly.sql
Data_Copy/DatabaseProjectNextraceReportPipe_DataCopy/Security/SqlRoleMembership.sql
